body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(248, 252, 255);
    
}

main {
    flex: 1;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.card img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
}


footer{
    background-color: rgb(250, 245, 249);
    padding: 1rem;
}